body{
    background-color: #B1E1FF;
}

hr{
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
}

h1{
    color: #A66CFF;
}

h2{
    color: #A66CFF;
}

table,th,td{
    border: 1px solid #9C9EFE;
    border-radius: 10px;
}